
@font-face {
  font-family: 'PTSans-BoldItalic';
  src: url('PTSans-BoldItalic.eot?#iefix') format('embedded-opentype'),  url('PTSans-BoldItalic.woff') format('woff'), url('PTSans-BoldItalic.ttf')  format('truetype');
  font-weight: normal;
  font-style: normal;
}
