<div class="container">
  <div class="row primary no-gutters">
    <div class="col-2">
      <ul>
        <li class="heading">ABOUT</li>
        <li>Contact Us</li>
        <li>About Us</li>
        <li>Careers</li>
        <li>Simplekart Stories</li>
        <li>Press</li>
      </ul>
    </div>
    <div class="col-2">
      <ul>
        <li class="heading">HELP</li>
        <li>Payments</li>
        <li>Shipping</li>
        <li>Cancellation & Returns</li>
        <li>FAQ</li>
        <li>Report Infringement</li>
      </ul>
    </div>
    <div class="col-2">
      <ul>
        <li class="heading">POLICY</li>
        <li>Return Policy</li>
        <li>Terms Of Use</li>
        <li>Security</li>
        <li>Privacy</li>
        <li>Sitemap</li>
        <li>EPR Compliance</li>
      </ul>
    </div>
    <div class="col-1">
      <ul>
        <li class="heading">SOCIAL</li>
        <li>Facebook</li>
        <li>Twitter</li>
        <li>Youtube</li>
        <li>Google Plus</li>
      </ul>
    </div>
    <div class="col-3 seperator">
      <ul>
        <li class="heading">Mail Us:</li>
        <li class="address">
          Simplekart Internet Pvt Ltd, <br />
          Ground Floor, Phase 2, Nector Towers, <br />
          Outer Ring Road, Gachibowli Village, <br />
          Rangareddy District, <br />
          Telangana, India, 500032.<br /><br />
        </li>
      </ul>
    </div>
    <div class="col-2">
      <ul>
        <li class="heading">Registered Office Address:</li>
        <li class="address">
          Simplekart Internet Pvt Ltd, <br />
          Ground Floor, Phase 2, <br />
          Nector Towers, <br />
          Outer Ring Road, Gachibowli Village, Rangareddy District, <br />
          Telangana, India, 500032.
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="secondery">
  <div class="container">
    <div class="row no-gutters">
      <ul>
        <li><i class="fas fa-briefcase"></i> Sell On Simplekart</li>
        <li><i class="far fa-play-circle"></i> Advertise</li>
        <li><i class="fas fa-gift"></i> Gift Cards</li>
        <li><i class="fas fa-question-circle"></i> Help Center</li>
        <li>&copy; 2017-2018 Simplekart.com</li>
        <li><img src="/assets/img/cards.svg" /></li>
      </ul>
    </div>
  </div>
</div>
